<section class="desktop d-none d-sm-block">
  <nav class="navbar navbar-expand-lg navbar-dark bg-color p-3">
    <img src="https://portales.bancochile.cl/uploads/000/011/015/27c0aed6-42c4-4e92-a62f-0e3bf6f81918/original/logo-bch.svg" height="30" alt="Logo Banco de Chile">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#">Enlace 1</a>
        <a class="nav-link" href="#">Enlace 2</a>
      </div>
    </div>
  </nav>
</section>