.home {
  .box {
    background-color: #F4F5F7;
    border: 1px solid #B3B8BC;
    width: 100%;
    .title {
      border-bottom: 1px solid #B3B8BC;
    }
    .info {
      display: flex;
      justify-content: space-between;
      width: 100%;
      @media (max-width:960px) {
        flex-direction: column;
      }
      .description {
        width: 40%;
        @media (max-width:960px) {
          width: 100%;
        }
      }
      .box-white {
        background-color: #fff;
        border: 1px solid #B3B8BC;
        width: 60%;
        @media (max-width:960px) {
          width: calc(100% + -30px);
        }
        .width-60 { width: 60%;}
        .width-40 { width: 40%;}
      }
    }
  }
  .btn-success {
    &--height {
      height: 38px;
    }
  }
}

.mobile {
  .mobile-price-graph {
    .header {
      display: flex;
      align-items: center;
      width: 100%;
      .btn-link {
        position: absolute;
        display: flex;
        flex-direction: row;
        text-decoration: none;
        font-size: 12px;
        .icon {
          transform: rotate(180deg);
        }
      }
      .indicator {
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
    .data {
      .form-control {
        font-size: 12px;
      }
    }
  }
}
