<div *ngIf="newData" class="list-group">
  <div *ngIf="!isPrice">
    <a *ngFor="let item of newData" type="button" (click)="navigator('price', item.codigo)"
    class="list-group-item list-group-item-action d-flex justify-content-between px-3 py-1 coin">
      <div class="coin-name">
        <span class="">{{item.nombre}}</span> {{item.lenght}}
        <span class="text-primary">{{item.unidad_medida}}</span>
      </div>
      <a (click)="navigator('graph', item.codigo)" class="coin-icon">
        <img src="assets/img/icon/info.svg" alt="icon info">
        <img src="assets/img/icon/arrow_right.svg" alt="icon arrow">
      </a>
    </a>
  </div>

  <ul *ngIf="isPrice" class="list-group">
    <li *ngFor="let item of newData" class="list-group-item d-flex justify-content-around">
      <span class="text-primary">{{item.fecha | date: 'shortDate'}}</span>
      <span *ngIf="!unit">{{item.valor | currency}}</span>
      <span *ngIf="unit">{{item.valor | percent}}</span>
    </li>
  </ul>
</div>